Repository pylhc/pylhc.github.io, pull requests merged in 2024-03, with the labels that each got.

#130 Lhc logbook 2024 03 11
  docs/resources/logbook/2024_lhc.md
Labels: Logbook

#129 Shift 2024-03-12 LHC logbook
  docs/resources/logbook/2024_lhc.md
Labels: Logbook

#131 LHC Logbook 2024-03-13 NL 30cm
  docs/resources/logbook/2024_lhc.md
Labels: Logbook

#132 LHC logbook 2024-03-16 shift
  docs/resources/logbook/2024_lhc.md
Labels: Logbook

#133 added alt-destination
  docs/javascripts/config.js
Labels: enhancement

#134 LHC Logbook 2024-03-18
  docs/resources/logbook/2024_lhc.md
Labels: Logbook

#136 Shifts from last Sunday and Monday
  docs/resources/logbook/2024_lhc.md
Labels: documentation, Logbook
